# Default ignored files
/shelf/
/workspace.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pars_api.iml
/material_theme_project_new.xml
/misc.xml
/modules.xml
/pars_api.iml
